<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
    <servlet-name>MateriauxServlet</servlet-name>
    <servlet-class>servlet.MateriauxServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>MateriauxServlet</servlet-name>
    <url-pattern>/listeMatiere</url-pattern>
</servlet-mapping>

<!--<servlet>
    <servlet-name>StockServlet</servlet-name>
    <servlet-class>servlet.StockServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>StockServlet</servlet-name>
    <url-pattern>/etatStock</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Formulaire</servlet-name>
    <servlet-class>servlet.Formulaire</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Formulaire</servlet-name>
    <url-pattern>/formulaire</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>SortieServlet</servlet-name>
    <servlet-class>servlet.SortieServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>SortieServlet</servlet-name>
    <url-pattern>/sortie</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ValidServlet</servlet-name>
    <servlet-class>servlet.ValidServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ValidServlet</servlet-name>
    <url-pattern>/validation</url-pattern>
</servlet-mapping>-->
</web-app>
